#page-create {
    background: #F0F0F5;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

#page-create header {
    display: flex;
    align-items: center;
    padding: 10px;
}

#page-create header a {
    margin-right: 10px;
    color: black;
}

#page-create form {
    margin: 10px auto;
    max-width: 900px;
    background: white;
    display: flex;
    flex-direction: column;
}

#page-create form fieldset {
    margin: 10px;
    border: 0;
}

#page-create form legend {
    margin-bottom: 10px;
}

#page-create form .field {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

#page-create form .field input {
    flex: 1;
    background: #F0F0F5;
    color: #6C6C80;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 8px;
    border: 0;
    padding: 16px;
  }

  #page-create form .field textarea {
    flex: 1;
    background: #F0F0F5;
    color: #6C6C80;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 8px;
    border: 0;
    padding: 16px 24px;
    resize: none;
    min-height: 200px;
  }
  

  #page-create form .field input::placeholder {
    color: #A0A0B2;
  }

  #page-creates form .field label {
    font-size: 14px;
    margin-bottom: 8px;
  }

  #page-create form .leaflet-container {
    width: 100%;
    height: 350px;
    border-radius: 8px;
    margin-bottom: 8px;
  }

  #page-create form button {
    width: 260px;
    height: 56px;
    background: black;
    border-radius: 8px;
    color: #FFF;
    font-size: 16px;
    border: 0;
    align-self: center;
    margin-top: 40px;
    transition: background-color 0.2s;
    cursor: pointer;
  }
  
  #page-create form button:hover {
    background:rgb(34, 34, 34);
  }